/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
@import "header/header";

/*--------------------------------------------------------------
## Header Feature Image
--------------------------------------------------------------*/
@import "header/feature-image";

.site {
    width: 100vw;
    @include clearfix;
    &:before {
        z-index: -1;
        content: '';
        width: 100vw;
        height: 100vh;
        position: fixed;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        opacity: .15;
        filter: blur(5px) grayscale(100%);
    }
}

.site-content {
    width: 100vw;
    @include respondTo(atleast-narrow) {
        width: 90vw;
        margin: 0 auto;
    }
    @include respondTo(atleast-wide) {
        width: 75vw;
        margin-left: 25vw; 
    }
    @include respondTo(atleast-ultra-wide) {
        width: 80vw;
        margin-left: 20vw; 
    }
}

.content-area {
    max-width: ms(18);
    padding: ms(2);
    margin: 0 auto;
    background: $color__background-content;
    box-shadow: 0 2px 1px rgba($color__boxshadow-content,.3);
    
    @include respondTo(atleast-wide) {
        padding: ms(6);
        margin: ms(2) ms(2) ms(8) 0;
    }
    @include respondTo(atleast-extra-wide) {
        margin-top: ms(4);
        margin-right: ms(4);
        padding: ms(8);
    }
    
    .site-main {
        
    }

    @include respondTo(atleast-extra-wide) {
        font-size: ms(1);
    }
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Home
--------------------------------------------------------------*/
@import "home/home";

/*--------------------------------------------------------------
## Archive
--------------------------------------------------------------*/
@import "archive/archive";

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
@import "primary/asides";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
@import "footer/footer";

/*--------------------------------------------------------------
## 404
--------------------------------------------------------------*/
@import "404/404";