.home {

    .site-content {
        @include clearfix;
    }

    article {
        @include animation(fadein 2s ease-out backwards);
        position: relative;
        width: 25vw;
        height: 25vw;
        float: left;
        margin: 0;
        border-bottom: 0;

        background: rgba($color__background-feature,.8);
        &:nth-child(even) {
            background: rgba($color__background-feature,.6);
        }

        .section-image {
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0.5;
            //@include animation(fadein-images 1s ease-out backwards, image-pulse 15.0s ease-in-out infinite alternate);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .section-inner {
            position: absolute;
            top: 50%;
            @include transform(translateY(-50%));
            width: 100%;
            @include transition(width 0.4s ease-in-out);
            @include respondTo(atleast-medium) {
            }
        }

        .entry-header {
            padding: 0 ms(0);
            margin: 0 auto;
            max-width: ms(18);
            text-align: center;

            .entry-title {
                margin-top: 0;
                margin-bottom: ms(-6);
                @include text-format(heading-small);
                a {
                    text-decoration: none;
                    color: white;
                    &:hover {
                        color: $color__titlelink-hover;
                    }
                }
            }
        }

    }

    .posts-navigation {
        padding: ms(0);
        margin: ms(0) auto 0;
        max-width: ms(18);
    }
}
