.site-header {
    padding: ms(2);
    @include respondTo(atleast-wide) {
        width: 25vw;
        position: fixed;
        top: 0;
        left: 0;
        padding: ms(6) ms(2);
        margin: ms(2) 0;
    }
    @include respondTo(atleast-extra-wide) {
        margin: ms(8) 0;
    }
    @include respondTo(atleast-ultra-wide) {
        width: 20vw;
    }
}

.site-branding {
    @include animation(fadein 0.3s ease-out 1s backwards);
    color: #fff;

    @include transition(all 0.5s ease-in-out);

    h1 {
        font-size: ms(2);
        font-weight: 100;
        text-transform: uppercase;
        letter-spacing: ms(-15);
        margin: 0 0 ms(-4);
        a {
            color: $color__headerlink;
            text-decoration: none;
            &:hover {
                color: $color__headerlink-hover;
                //text-decoration: underline;
            }
        }
        @include respondTo(atleast-extra-wide) {
            font-size: ms(4);
        }
    }
    h2 {
        font-family: $font__main;
        font-size: ms(-2);
        font-weight: 300;
        font-style: italic;
        text-transform: none;
        letter-spacing: ms(-12);
        margin: 0;
        color: rgba(white,.6);
    }

    @include respondTo(upto-medium) {
        @include transition(all 0.5s ease-in-out);
    }
}